{{!-- <h1>Counter Index</h1>


<div>
  Start here

  <form action="/count" method="post">
    <div class="counter">
      {{counter}}
    </div>
    <input type="submit" value="Press button to count">

  </form> --}}
  <!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <title>PerfectPizza</title>
      <link rel="stylesheet" href="./style.css">
   </head>
   <body>
      <div>
         <div class="header">
            <h1>Perfect Pizza</h1>
         </div>
         <div class="cart">
            <h2>Shopping Cart</h2>
            <table>
               <tr>
                  <td><strong>Small pizzas total:</strong></td>
                  <td><span class="smallTotalPrice">0.00</span></td>
               </tr>
               <tr>
                  <td><strong>Medium pizzas total:</strong></td>
                  <td><span class="mediumTotalPrice">0.00</span></td>
               </tr>
               <tr>
                  <td><strong>Large pizza total:</strong></td>
                  <td><span class="largeTotalPrice">0.00</span></td>
               </tr>
               <tr>
                 <td><strong>Total cost</strong></td>
                 <td><span class="cartTotalPrice">0.00</span></td>
               </tr>
               <tr>
               </tr>
            </table>
            
        
            <form action="/" method="POST">
            <div class="orderBox">
              <button type="submit" class="orderPizzabtn"style="width: 70%;" onclick="myFunction()">Order</button>
            </div>
         </div>
         </form>
         <div class="pizzas">
            <form action="/buy" method="POST">
            <div class="pizza_large">
               <div class="info">
                  <img src="pizza (1).png" alt="">
                  <h2>Large Pizza</h2>
                  <strong>{{largePizza}}</strong>
                  <div>
                     large margeritha pizza with 3 toppings max.
                     3 meat toppings max.
                     3 or less other toppings.
                  </div>
               </div>
               <div class="orderBox">
                  <button type="submit" class="btn orderLargePizza" style="width: 70%;"  value="large"name="large" onclick="myFunction()">Buy</button>
               </div>
            </div>
            </form>
            <form action="/buy" method="POST">
            <div class="pizza_medium">
               <div class="info">
                  <img src="pizza (1).png" alt="">
                  <h2>Medium Pizza</h2>
                  <strong>{{mediumPizza}}</strong>
                  <div>
                     medium margeritha pizza with 3 toppings max.
                     2 or less meat topping.
                     3 or less other toppings.
                  </div>
               </div>
               <div class="orderBox">
                  <button type="submit" class="btn orderMediumPizza" style="width: 70%;" value="medium"name="medium"  type="submit" onclick="myFunction()">Buy</button>
               </div>

            </div>
            </form>
            <form action="/buy" method="POST">
            <div class="pizza_small">
               <div class="info">
                  <img src="pizza (1).png" alt="">
                  <h2>Small Pizza</h2>
                  <strong>{{smallPizza}}</strong>
                  <div>
                     small pizza with 3 toppings
                     1 meat topping.</li>
                     3 or less other toppings
                     <div>
               </div>
               <div class="orderBox">
                  <button type="submit" class="btn orderSmallPizza" style="width: 70%;" value="small" name="small"  type="submit" onclick="myFunction()">Buy</button>
               </div>
            </div>
            </form>
         </div>
         <div class="footer">
            <div class="contact">
            </div>
         </div>
      </div>
   </body>
   {{!-- <script src="order-pizza.js"></script>
   <script src="pizza.js"></script> --}}
   <hr>
   <div>
   </div>
</html>
</html>
</div>