<h1>My info</h1>
	<form action="/info" method="POST" >
		
		<div>
			<label for="">Name:</label>
			<input type="text" name="firstName">
		</div>

		<div>
			<label for="">Last name:</label>
			<input type="text" name="lastName">
		</div>

		<input type="submit">

	</form>