<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body> 
  <div class="row">
      <h4>Orders</h4>
      <div class="pizzaOrders">

            <table class="ordersTable">
               <h3>Orders</h3>
               <tr>
                  <td><strong>Payment Due:</strong></td>
               </tr>
               <tr>
                  <td><strong>Paid:</strong></td>
               </tr>
               <tr>
                  <td><strong>Collected:</strong></td>
               </tr>
               <tr>
               </tr>
            </table>
         </div>
      
    


</div>
{{#each names}}
<div class="entry">
    <h1> {{this}}</h1>
</div>
{{/each}}

 <a href="/">back to main <menu></menu></a>
</body>

</html>