body {
	background: white;
	font-family: arial, sans-serif;
	background-color: #3FA9E2;
	font-size: 0.75em;
  }

.btn {
	padding: 1em;
	margin: 1em;
	font-size: 1em;
	background-color:gray;
	border-radius: 0.25em;
	border: 0 solid snow;
	color: snow;
}

.container {
	background-color: #CDD93F;
	padding: 1em;
	margin: auto;
	width: 80%;
	border-radius: 1em;
}


  	.btn-sm {
		padding: 0.25em;
		margin: 0.25em;
		font-size: 0.75em;
		background-color: grey;
	}

  	.btn-med {
		padding: 0.75em;
		margin: 0.75em;
		font-size: 0.75em;
		background-color: grey;
	}
    
	.pizzas{
			display: grid;
			grid-template-columns: 30% 30% 30%;
			grid-gap: 2%;	
	}

	.pizza_large{
		background-color:chocolate;
		margin: 10px;
		text-align: center;
		
	}
	.pizza_medium{
    background-color: rgb(226, 207, 60);
    margin: 10px;
	text-align: center;
	}
	.pizza_small{
		background-color: rgb(228, 20, 159);
		margin: 10px;
		text-align: center;
	}

	ul{
		list-style-type: none;
	}
	.cart{
		border: 50%;
	font-size: larger;
		margin: 20px;
		background-color: greenyellow;
	}
	table{
		
		margin-left: auto;
        margin-right: auto;
		
	}
	.cartTotal{
	
	text-align: center;
	}
	h2{
		text-align: center;
	}
	span{
		font-size: large;
	}
	.orderPizzabtn{
	padding: 1em;
	margin: 1em;
	font-size: 1em;
	background-color:gray;
	border-radius: 0.25em;
	border: 0 solid snow;
	color: snow
	}
